
.navbarScroll.navbarDark {
    background-color: black;
}

span{
  font-family: 'GothamRoundedBold';
  color: rgb(66, 166, 182);
}

h3, h4, h5, p {
    font-family: 'GothamRoundedLight'
}
.mdl-typography--headline{
  font-family: 'GothamRoundedBold'
}

html,*{
	transition: all ease 0.3s;
	scroll-behavior: smooth;
}


.initcard {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.portfolio-header {
  position: relative;
  background-image: url(../images/Header_Ficus-02-site.jpg);
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  
}

.mdl-layout__title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: rgb(66, 166, 182);
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-logo-row {
  min-height: 150px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}

.portfolio-logo {
    background: url(../images/AvatarFicus-01.jpg) 50% no-repeat;
    background-size: cover;
    height: 150px;
    width: 150px;
    margin: auto auto;
    /* border-radius: 50%;*/
}
/*
.is-compact .portfolio-logo {
  height: 50px;
  width: 50px;
  margin-top: 7px;
}*/

h1#logo_head {
    /*text-indent: 150px;*/
    /*background-color:wheat;*/
    position: relative;
    top: 50%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 150px;
    font-size: 48pt;
    /*padding: 30pt 100pt;*/
    font-family: 'GothamRoundedBold';
}


.portfolio-navigation-row {
  background-color: rgb(180, 222, 228);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}


.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
  color: white;
  
}

.portfolio-header .mdl-layout__drawer-button {
    background-color: rgb(66, 166, 182);
}

.portfolio-navigation-row .is-active {
  position: relative;
  font-family: 'GothamRoundedBold'
}

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(66, 166, 182);
  left: 15%;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-full-bg {
  background: url(ficus_webpage/images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
  background: url(ficus_webpage/images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
  background: url(ficus_webpage/images/example-blog06.jpg) center / cover;
}

.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

footer {
  background-image: url(../images/footer-background.png);
  background-size: cover;
}

.slides input{
	display: none
}
.aboutus{
  margin-top: -30px;
}

.mdl-card{
  border-radius: 10px;
}